swagger: '2.0'
info:
  version: v1.1
  # 定义服务名称
  title: SecVulnerabilityService
  description: |
    终端BG IT安全漏洞接口。
    ** 服务SLA：**
    |SLA项|定义|
    |-----|-----|
    |请求成功率| >=99.9%|
    |可用性|Tair1|
    |数据一致性|最终一致，不一致时长<1分钟|
    |吞吐量|100tps|
    |TP50请求时延|20ms|
    |TP99.9请求时延|50ms|
schemes:
  - https
host: soc.cbgit.huawei.com
basePath: /secvulnerability/services/v1
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: IVulnDelegateService
    description: 漏洞服务-对外服务
paths:
  '/vulnerability/batch-create':
    post:
      summary: '创建漏洞'
      description: '|场景描述：创建漏洞|
                    |性能要求：3000ms|
                    |调用样例：无|'
      tags:
        - IVulnDelegateService
      operationId: batchCreate
      parameters:
        - name: batchCreateReq
          in: body
          required: true
          description: '创建漏洞请求体'
          schema:
            $ref: '#/definitions/BatchCreateReq'
      responses:
        200:
          description: '|请求成功，创建漏洞|'
          schema:
            $ref: '#/definitions/BatchCreateRsp'
        400:
          description: '|请求失败:输入参数校验失败|'
        500:
          description: '|请求失败:系统错误|'
  '/vulnerability/batch-query':
    get:
      summary: '批量查询漏洞及相关漏洞跟踪任务信息'
      description: '|场景描述：批量查询漏洞及相关漏洞跟踪任务信息|
                    |性能要求：3000ms|
                    |调用样例：无|'
      tags:
        - IVulnDelegateService
      operationId: batchQuery
      parameters:
        - name: vulnerabilityIds
          in: query
          required: true
          description: '待查询的漏洞ID集合，单次最多只能查10个，用,分割'
          type: string
          maxLength: 2500

      responses:
        200:
          description: '|请求成功，批量查询漏洞跟踪任务|'
          schema:
            $ref: '#/definitions/BatchQueryRsp'
        400:
          description: '|请求失败:输入参数校验失败|'
        500:
          description: '|请求失败:系统错误|'
  '/vulnerability/vulnwarnings':
    get:
      summary: '查询漏洞告警数据'
      description: '|场景描述：查询漏洞告警数据|
                      |性能要求：3000ms|
                      |调用样例：无|'
      tags:
        - IVulnDelegateService
      operationId: queryVulnWarnings
      parameters:
        - name: qureyVulnWarningsReq
          in: body
          required: true
          description: '查询漏洞告警数据请求体'
          schema:
            $ref: '#/definitions/QureyVulnWarningsReq'

      responses:
        200:
          description: '|请求成功，查询漏洞告警数据|'
          schema:
            $ref: '#/definitions/QureyVulnWarningsRsp'
        400:
          description: '|请求失败:输入参数校验失败|'
        500:
          description: '|请求失败:系统错误|'
  '/vulnerability/vms/cve-info':
    get:
      summary: 'VMS漏洞感知界面中的数据，获取CVE详情信息'
      description: '|场景描述：VMS漏洞感知界面中的数据，获取CVE详情信息|
                    |性能要求：3000ms|
                    |调用样例：无|'
      tags:
        - IVulnDelegateService
      operationId: queryVmsCve
      parameters:
        - name: cveIds
          in: query
          required: true
          description: '待查询的CVEID集合，单次最多只能查20个，用,分割'
          type: string
          maxLength: 2000

      responses:
        200:
          description: '|请求成功，VMS漏洞感知界面中的数据，获取CVE详情信息|'
          schema:
            $ref: '#/definitions/QueryVmsCveRsp'
        400:
          description: '|请求失败:输入参数校验失败|'
        500:
          description: '|请求失败:系统错误|'
  '/vulnerability/task/secwar/paged-list':
    get:
      summary: '分页查询漏洞跟踪任务'
      description: '|场景描述：分页查询漏洞跟踪任务|
                    |性能要求：3000ms|
                    |调用样例：无|'
      tags:
        - ITracingTaskOpenApiController
      operationId: getTracingTaskList
      parameters:
        - name: tracingTaskListReq
          in: query
          required: true
          description: '跟踪任务查询参数'
          schema:
            $ref: '#/definitions/TracingTaskListReq'

      responses:
        200:
          description: '|请求成功，漏洞跟踪任务列表|'
          schema:
            $ref: '#/definitions/TracingTaskListRsp'
        400:
          description: '|请求失败:输入参数校验失败|'
        500:
          description: '|请求失败:系统错误|'
  '/vulnerability/task/devsecops/paged-list':
    get:
      summary: '分页查询桌面漏洞'
      description: '|场景描述：分页查询桌面漏洞|
                    |性能要求：3000ms|
                    |调用样例：无|'
      tags:
        - ITracingTaskOpenApiController
      operationId: getDevSecOpsVulnerabilityList
      parameters:
        - name: devVulnerabilityListReq
          in: query
          required: true
          description: '桌面漏洞查询参数'
          schema:
            $ref: '#/definitions/TracingTaskListReq'

      responses:
        200:
          description: '|请求成功，桌面漏洞列表|'
          schema:
            $ref: '#/definitions/DevVulnerabilityListRsp'
        400:
          description: '|请求失败:输入参数校验失败|'
        500:
          description: '|请求失败:系统错误|'
definitions:
  QueryVmsCveRsp:
    description: 'VMS漏洞感知界面中的数据，获取CVE详情信息响应'
    type: object
    allOf:
      - $ref: 'rest-services-common.yaml#/definitions/CommonRsp'
      - type: object
        properties:
          data:
            description: '|VMS漏洞感知界面中的数据，获取CVE详情信息结果|'
            type: array
            items:
              $ref: '#/definitions/VmsCveInfo'
  VmsCveInfo:
    description: 'VMS漏洞感知界面中CVE详情信息'
    type: object
    properties:
      hwPsirtId:
        description: '华为漏洞编码'
        type: string
      vulnTypeNameCn:
        description: '漏洞类型中文名称'
        type: string
      vulnTypeNameEn:
        description: '漏洞类型英文名称'
        type: string
      cveId:
        description: 'CVE编码'
        type: string
      officialPublishDate:
        description: '官方发布日期(yyyy-MM-dd)'
        type: string
      officialUpdateDate:
        description: '官方更新日期(yyyy-MM-dd)'
        type: string
      cvssValue:
        description: 'CVSS打分'
        type: string
      cvssVer:
        description: 'CVSS版本'
        type: string
      isValid:
        description: '是否有效标志位,1-有效,0-无效'
        type: integer
        format: int32
      attackVector:
        description: '攻击矢量'
        type: string
      vulnDesc:
        description: '漏洞描述'
        type: string
  QureyVulnWarningsReq:
    description: '查询漏洞告警数据请求体'
    type: object
    properties:
      startTime:
        description: "开始时间：UTC时间（yyyy-MM-dd'T'HH:mm:ss.SSS'Z'）"
        type: string
        maxLength: 30
        x-datetimeformat: "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"
      endTime:
        description: "结束时间；UTC时间（yyyy-MM-dd'T'HH:mm:ss.SSS'Z'）"
        type: string
        maxLength: 30
        x-datetimeformat: "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"
      status:
        description: '告警状态，多个状态用","分割,枚举如下|
                      00（待确认）；01（误报）；02（关闭）；03（生成缺陷单）；06（漏洞修复）；
                      07（漏洞备案）；08（漏洞规避）；09（驳回）；10（申请关闭（待验证））|'
        type: string
        maxLength: 50
      vulnerabilityType:
        description: '漏洞类型，多个状态用","分割， 枚举太多简单举例：|
                        CWE-532 将敏感信息插入日志文件|'
        type: string
        maxLength: 3000
      pageNo:
        description: '|参数名称：开始位置|'
        type: integer
        format: int32
        default: 1
      pageSize:
        description: '|参数名称：每页大小|'
        type: integer
        format: int32
        default: 10

  QureyVulnWarningsRsp:
    description: '查询漏洞告警数据响应'
    type: object
    allOf:
      - $ref: 'rest-services-common.yaml#/definitions/CommonPageRsp'
      - type: object
        properties:
          data:
            description: '|查询漏洞告警数据结果|'
            type: array
            items:
              $ref: '#/definitions/VulnWarningsDetail'
  VulnWarningsDetail:
    description: '查询漏洞告警数据详情'
    type: object
    properties:
      warningNo:
        description: '漏洞告警编号'
        type: string
      warningName:
        description: '漏洞告警名称'
        type: string
      appCode:
        description: '应用编码'
        type: string
      appModuleName:
        description: '应用模块名称'
        type: string
      subProductCode:
        description: '子产品编码'
        type: string
      subProductName:
        description: '子产品名称'
        type: string
      productCode:
        description: '产品编码'
        type: string
      productName:
        description: '产品名称'
        type: string
      appId:
        description: 'appId'
        type: string
      cvss:
        description: 'CVSS评分'
        type: string
      cveId:
        description: 'CVE ID'
        type: string
      isBounder:
        description: '是否外边界'
        type: boolean
      hwitvdId:
        description: 'IT漏洞编号'
        type: string
      hwpsirtId:
        description: '华为漏洞编号'
        type: string
      warningPriority:
        description: '漏洞告警处理优先级|
                      1-->VS1;2-->VS2;
                      3-->VS3;4-->VS4;5-->VS5|'
        type: string
      status:
        description: '漏洞告警状态，枚举如下|
                      00（待确认）；01（误报）；02（关闭）；03（生成缺陷单）；
                      06（漏洞修复）；07（漏洞备案）；08（漏洞规避）；09（驳回）；10（申请关闭（待验证））|'
        type: string
      warningSlaStatus:
        description: '漏洞告警SLA状态，枚举如下| 1（超期未关闭）；2（即将到期未关闭）；3（未关闭）；4（超期已关闭）；5（已关闭）|'
        type: string
      confirmSlaStatus:
        description: '告警确认SLA状态，枚举如下|1（超期未确认）；2（即将到期未确认）；3（未确认）；4（超期已确认）；5（已确认）|'
        type: string
      vulnerabilityType:
        description: '漏洞类型'
        type: string
      effectiveStatus:
        description: '有效标记:1-有效;0-无效'
        type: string
      creator:
        description: '告警创建人'
        type: string
      rectificationOwner:
        description: '告警责任人'
        type: string
      warningTime:
        description: '告警时间'
        type: string
        format: date-time
      discoveryTime:
        description: '发现时间'
        type: string
        format: date-time
      confirmTime:
        description: '告警确认时间'
        type: string
        format: date-time
      closedTime:
        description: '关闭时间'
        type: string
        format: date-time
      plannedClosedTime:
        description: '告警要求闭环时间'
        type: string
        format: date-time
      lastUpdateTime:
        description: '最后更新时间'
        type: string
        format: date-time
      vulnerabilityDescription:
        description: '漏洞描述'
        type: string
      rectificationMeasures:
        description: '解决方案'
        type: string
  BatchCreateReq:
    description: '漏洞创建参数'
    type: object
    properties:
      appId:
        type: string
        description: '|调用侧应用APP ID|'
        maxLength: 256
      vulnerabilityParamList:
        description: '批量创建漏洞数组'
        type: array
        items:
          $ref: '#/definitions/VulnerabilityParam'
  VulnerabilityParam:
    description: '安全漏洞参数'
    type: object
    required:
      - sourceId
      - title
      - vulnerabilityScore
      - vulnerabilitySource
      - vulnerabilityModel
      - description
      - creator
      - discoverer
      - discoveryTime
      - preWarningTime
    properties:
      sourceId:
        type: string
        description: '|调用侧主键|'
        maxLength: 128
      title:
        description: '漏洞标题'
        maxLength: 256
        type: string
        minLength: 1
      vulnerabilityScore:
        description: 'cvss评分详情'
        type: object
        $ref: '#/definitions/VulnerabilityScoreBase'
      vulnerabilityModel:
        description: '类别：具体属性请联系安全作战平台'
        type: array
        maximum: 1
        maxItems: 20
        items:
          type: string
      subModel:
        description: '|子类别：仅当类别为隐私保护中心时必填|
                      |PLAINTEXT_STORAGE:个人数据明文存储|
                      |UNAUTHORIZED_CBT:未授权跨境转移|
                      |EXPIRED_DATA:数据超期未删除|
                      |INSPECTION_NOT_COMPLETE:巡检未完成|
                      |UNAUTHORIZED_APP:跨应用访问未授权|
                      |DI_NOT_ASSOCIATED:DI未关联|
                      |RETENTION_PERIOD_NOT_COVERED:留存期未覆盖|'
        type: string
        maxLength: 255
      customVulnerabilityModel:
        description: '自定义类别，仅当类型为other时必填'
        type: string
        maxLength: 255
      vulnerabilitySource:
        description: '来源：具体属性请联系安全作战平台'
        type: string
        maxLength: 2000
      vulnerabilityProduct:
        description: '产品/子产品/应用信息'
        type: array
        items:
          $ref: '#/definitions/VulnerabilityProductBase'
        maxItems: 200
      cve:
        description: 'cve'
        type: string
        maxLength: 255
        default: ''
      rootCause:
        description: '技术原因'
        type: string
        maxLength: 256
        default: ''
      description:
        description: '描述'
        type: string
        minLength: 1
        maxLength: 2000
      creator:
        description: '创建人:W3工号（tWX******）'
        type: string
        minLength: 1
        maxLength: 255
      discoverer:
        description: '发现人:W3工号（tWX******）'
        type: string
        minLength: 1
        maxLength: 255
      discoveryDepartment:
        description: '发现部门'
        type: string
        maxLength: 255
      discoveryTime:
        description: '发现时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
      preWarningTime:
        description: '预警时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
      vulnerabilityCategory:
        description: '|参数名称：漏洞类别|SEC_VULN_MODEL:安全漏洞类、SEC_DATA_MODEL:数据安全类、SEC_COMPLIANCE_MODEL:安全合规类'
        type: string
  VulnerabilityScoreBase:
    description: '漏洞CVSS评分'
    type: object
    required:
      - cvssValue
      - vector
    properties:
      cvssValue:
        description: 'CVSS Score，如：2.6'
        maxLength: 16
        type: string
      vector:
        description: 'vector，如：CVSS:3.1/AV:A/AC:H/PR:L/UI:N/S:U/C:N/I:N/A:L'
        maxLength: 128
        type: string
      attackVectorMsg:
        description: '攻击向量描述'
        type: string
      attackComplexityMsg:
        description: '攻击复杂度描述'
        type: string
      privilegesRequiredMsg:
        description: '所需权限描述'
        type: string
      userInteractionMsg:
        description: '用户交互描述'
        type: string
      scopeMsg:
        description: '范围描述'
        type: string
      confidentialityImpactMsg:
        description: '保密影响描述'
        type: string
      integrityImpactMsg:
        description: '完整性影响描述'
        type: string
      availabilityImpactMsg:
        description: '可用性影响描述'
        type: string
      exploitCodeMaturityMsg:
        description: '漏洞代码成熟度描述'
        type: string
      remediationLevelMsg:
        description: '补救级别描述'
        type: string
      reportConfidenceMsg:
        description: '报告可信度描述'
        type: string
      confidentialityRequirementMsg:
        description: '保密性要求描述'
        type: string
      integrityRequirementMsg:
        description: '完整性要求描述'
        type: string
      availabilityRequirementMsg:
        description: '可用性要求描述'
        type: string
      modifiedAttackVectorMsg:
        description: '修改攻击向量描述'
        type: string
      modifiedAttackComplexityMsg:
        description: '修改攻击复杂度描述'
        type: string
      modifiedPrivilegesRequiredMsg:
        description: '修改权限要求描述'
        type: string
      modifiedUserInteractionMsg:
        description: '修改用户交互描述'
        type: string
      modifiedScopeMsg:
        description: '修改范围描述'
        type: string
      modifiedConfidentialityMsg:
        description: '修改机密性描述'
        type: string
      modifiedIntegrityMsg:
        description: '修改完整性描述'
        type: string
      modifiedAvailabilityMsg:
        description: '修改可用性描述'
        type: string
  VulnerabilityProductBase:
    description: '产品/子产品/应用信息'
    type: object
    required:
      - vulnerabilityExploit
      - productCode
      - productLevel
      - isLiveNetwork
      - handler
      - approver
    properties:
      vulnerabilityExploit:
        description: '漏洞利用可能性'
        type: object
        $ref: '#/definitions/VulnerabilityExploitBase'
      productCode:
        description: '应用 code'
        type: string
      productLevel:
        description: '应用（2）'
        type: string
      isLiveNetwork:
        description: '是否现网环境'
        type: string
      handler:
        description: '处理人/团队：W3工号（tWX******）'
        type: string
      approver:
        description: '审批人/团队：：W3工号（tWX******）'
        type: string
      networkArea:
        description: '网络区域'
        type: string
      isProductMaturity:
        description: '是否参与成熟度计分'
        type: string
      byPassTime:
        description: '规避上线时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
  VulnerabilityExploitBase:
    description: '漏洞利用可能性'
    type: object
    required:
      - environment
      - maturity
    properties:
      environment:
        description: '环境因素：具体属性请联系安全作战平台'
        type: string
      maturity:
        description: '利用成熟度：具体属性请联系安全作战平台'
        type: string
  BatchCreateResult:
    type: object
    description: '|批量创建漏洞时的响应结果信息，包括创建前的业务侧传入的漏洞ID和创建成功后的漏洞编号|'
    properties:
      sourceId:
        description: '|请求参数中传入的待生成漏洞的ID|'
        type: string
      vulnerabilityId:
        description: '|创建成功的漏洞编号，如创建失败，则生成漏洞编号为null|'
        type: string
      errorMsg:
        description: '|响应信息说明，正常不返回，异常时返回相关错误描述信息|'
        type: string
  BatchCreateRsp:
    description: '创建漏洞响应'
    type: object
    allOf:
      - $ref: 'rest-services-common.yaml#/definitions/CommonRsp'
      - type: object
        properties:
          data:
            description: '|key：请求参数中传入的漏洞主键；vaule：创建成功后生成的漏洞编号|'
            type: array
            items:
              $ref: '#/definitions/BatchCreateResult'
  BatchQueryRsp:
    description: '批量查询漏洞跟踪任务响应'
    type: object
    allOf:
      - $ref: 'rest-services-common.yaml#/definitions/CommonRsp'
      - type: object
        properties:
          data:
            description: '|批量查询漏洞跟踪任务结果|'
            type: array
            items:
              $ref: '#/definitions/VulnTracingTaskDetail'
  VulnTracingTaskDetail:
    description: '查询返回的漏洞详情信息，包括相关的跟踪任务及状态信息'
    type: object
    properties:
      vulnerabilityId:
        type: string
        description: '漏洞id'
      title:
        type: string
        description: '名称'
      description:
        description: '描述'
        type: string
      rootCause:
        description: '技术原因'
        type: string
      dataSource:
        type: string
        description: '|数据来源，枚举值如下|
                      |SYNC : 自动同步|
                      |MANUAL : 手动创建|
                      |VULNERABILITY_SCAN : 漏洞扫描|
                      |EIP_SCAN : EIP扫描|
                      |OPENSOURCE_SCAN ：三方件扫描|
                      |HSS_SCAN ： HSS扫描|
                      |FILING_VULNERABILITY : 备案漏洞|'
      creator:
        description: '创建者'
        type: string
      creatorByName:
        description: '创建者'
        type: string
      cve:
        description: 'cve'
        type: string
      discoveryTime:
        description: '发现时间'
        type: string
        format: date-time
      discoverer:
        description: '发现人'
        type: string
      discovererByName:
        description: '发现人'
        type: string
      preWarningTime:
        description: '预警时间'
        type: string
        format: date-time
      vulnerabilityStatus:
        description: '|漏洞状态 ，枚举值如下|
                      |DRAFT:草稿 |
                      |REVIEW:待评审 |
                      |REVIEWED:已分发 |
                      |LEVEL_CHANGING:审核中|
                      |DELETE:已删除|
                      |REJECTED：已驳回|'
        type: string
      reviewStatus:
        description: '|漏洞review状态，枚举值如下|
                      |REVIEWED : 已评审|
                      |SUPPLEMENTED_REVIEW : 待补充评审(漏洞状态是已分发)|
                      |TO_BE_REVIEWED : 待评审(漏洞状态是待评审)|
                      |NA : 未参与|'
        type: string
      vulnerabilitySeverity:
        type: string
        description: '严重级别，枚举值如下|
                      |URGENT  : 紧急（致命）|
                      |HIGH  : 高（严重）|
                      |MEDIUM  : 中（重要）|
                      |LOW   : 低（一般）|'
      vulnerabilityModel:
        description: '模型'
        type: array
        items:
          type: string
      subModel:
        description: '|子类别：仅当类别为隐私保护中心时必填|
                      |PLAINTEXT_STORAGE:个人数据明文存储|
                      |UNAUTHORIZED_CBT:未授权跨境转移|
                      |EXPIRED_DATA:数据超期未删除|
                      |INSPECTION_NOT_COMPLETE:巡检未完成|
                      |UNAUTHORIZED_APP:跨应用访问未授权|
                      |DI_NOT_ASSOCIATED:DI未关联|
                      |RETENTION_PERIOD_NOT_COVERED:留存期未覆盖|'
        type: string
        maxLength: 255
      customVulnerabilityModel:
        description: '自定义模型'
        type: string
      vulnerabilitySource:
        description: '漏洞来源,枚举|
                      |INTER_PENETRATE：内部渗透|
                      |THIRD_PARTIES_PENETRATE：第三方渗透|
                      |LIVE_NETWORK_MISS_SCAN：现网漏扫|
                      |HBP_FEEDBACK：HBP反馈|
                      |VMS:VMS|
                      |OCC:OCC|
                      |SECURITY_INCIDENT：安全事件|
                      |OTHERS：其他来源|
                      |PRODUCT_OPENSOURCE：开源/第三方软件|
                      |HSS：HSS|'
        type: string
      vulnStatusChangeTime:
        description: '漏洞状态变更时间'
        type: string
        format: date-time
      vulnerabilityScore:
        description: 'cvss评分详情'
        type: object
        $ref: '#/definitions/VulnerabilityScoreBase'
      tracingTaskList:
        description: '跟踪任务集合'
        type: array
        items:
          $ref: '#/definitions/TracingTaskBase'
  TracingTaskBase:
    description: '跟踪任务，产品等信息'
    type: object
    properties:
      tracingTaskId:
        description: '跟踪任务编号'
        type: string
      tracingTaskName:
        description: '跟踪任务名称'
        type: string
      taskStatus:
        description: '跟踪任务状态枚举|
                      |DRAFT:草稿 |
                      |ASSIGNED：待修复|
                      |TASK_APPROVING：审核中|
                      |RESOLVED：待验证|
                      |FALSEPOSITIVES：非漏洞关闭|
                      |CLOSED：已关闭|
                      |BACKTRACE_PROGRESSING：回溯中|
                      |DELETE：已删除|'
        type: string
      statusChangeTime:
        description: '状态变更时间'
        type: string
        format: date-time
      currentHandler:
        description: '当前处理人'
        type: string
      currentHandlerName:
        description: '当前处理人名称'
        type: string
      handlingLevel:
        description: '漏洞处理级别'
        type: string
      handler:
        description: '处理人/团队'
        type: string
      approver:
        description: '审批人/团队'
        type: string
      actualClosureTime:
        description: '任务实际闭环时间'
        type: string
        format: date-time
      possibility:
        description: '漏洞利用可能性，枚举值如下|
                      |HIGH:高|
                      |MEDIUM：中|
                      |LOW：低|'
        type: string
      productCode:
        description: '产品/子产品/应用 code'
        type: string
      productLevel:
        description: '产品层级：产品(0),子产品(1),应用（2）'
        type: string
      isLiveNetwork:
        description: '是否现网环境'
        type: string
      networkArea:
        description: '网络区域，枚举值如下|'
        type: string
      isProductMaturity:
        description: '是否参与成熟度计分'
        type: string
      byPassTime:
        description: '规避上线时间'
        type: string
        format: date-time
      requestedClosureTime:
        description: '要求关闭时间'
        type: string
        format: date-time
      isAffected:
        description: '|是否受漏洞影响|
                                  |null : 漏洞没有评审|
                                  |0 : 不受影响| 
                                  |1 : 受影响)|'
        type: string
  TracingTaskListReq:
    description: '跟踪任务列表查询参数'
    type: object
    properties:
      createTimeFrom:
        description: '创建时间（起始时间）'
        type: string
        format: date-time
      createTimeTo:
        description: '创建时间（结束时间）'
        type: string
        format: date-time
      pageNo:
        description: '当前页'
        type: integer
        format: int32
      pageSize:
        description: '每页数据'
        type: integer
        format: int32
  TracingTaskData:
    description: '跟踪任务'
    type: object
    properties:
      tracingTaskId:
        description: '跟踪任务编号'
        type: string
      tracingTaskName:
        description: '跟踪任务名称'
        type: string
      taskStatus:
        description: '跟踪任务状态枚举|
                      |DRAFT:草稿 |
                      |ASSIGNED：待修复|
                      |TASK_APPROVING：审核中|
                      |RESOLVED：待验证|
                      |FALSEPOSITIVES：非漏洞关闭|
                      |CLOSED：已关闭|
                      |BACKTRACE_PROGRESSING：回溯中|
                      |DELETE：已删除|'
        type: string
      handlingLevel:
        description: '处理级别'
        type: string
      possibility:
        description: '漏洞利用可能性，枚举值如下|
                      |HIGH:高|
                      |MEDIUM：中|
                      |LOW：低|'
        type: string
      productCode:
        description: '应用 code'
        type: string
      isLiveNetwork:
        description: '是否现网环境'
        type: string
      networkArea:
        description: '网络区域，枚举值如下|'
        type: string
      isProductMaturity:
        description: '是否参与隐私安全风险与质量评估'
        type: string
      creator:
        description: '跟踪任务创建人'
        type: string
      handler:
        description: '跟踪任务处理人/团队'
        type: string
      approver:
        description: '跟踪任务审批人/团队'
        type: string
      rootCause:
        description: '跟踪任务根因分析'
        type: string
      solution:
        description: '跟踪任务响应措施'
        type: string
      remarks:
        description: '跟踪任务验证备注'
        type: string
      approveConclusion:
        description: '跟踪任务验证结论'
        type: string
      approveType:
        description: '跟踪任务审批类型'
        $ref: 'rest-services-tracing-task.yaml#/definitions/ApproveTypeEnum'
      isBacktrace:
        description: '跟踪任务是否需要回溯'
        type: boolean
        default: false
      backtraceStatus:
        description: '跟踪任务回溯状态'
        type: string
      falsepositiveReason:
        description: '跟踪任务非漏洞关闭原因'
        type: string
      falsepositivesApprover:
        description: '跟踪任务非漏洞关闭审核人'
        type: string
      lastUpdateTime:
        description: '跟踪任务最近更新时间'
        type: string
        format: date-time
      lastUpdateBy:
        description: '跟踪任务最近更新人'
        type: string
      createTime:
        description: '跟踪任务创建时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      byPassTime:
        description: '规避上线时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      requestedClosureTime:
        description: '要求关闭时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      actualClosureTime:
        description: '任务实际闭环时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      vulnerabilityId:
        description: '漏洞编号'
        type: string
      vulnerabilityTitle:
        description: '漏洞标题'
        type: string
      vulnerabilityDescription:
        description: '漏洞描述'
        type: string
      vulnerabilityStatus:
        description: '漏洞状态'
        type: string
      reviewStatus:
        description: '漏洞TMG评审状态'
        type: string
      vulnerabilityCategory:
        description: '|参数名称：漏洞类别|SEC_VULN_MODEL:安全漏洞类、SEC_DATA_MODEL:数据安全类、SEC_COMPLIANCE_MODEL:安全合规类'
        type: string
      vulnerabilitySeverity:
        description: '严重级别 URGENT 1 : 紧急（致命）HIGH 2 : 高（严重）MEDIUM 3 : 中（重要） LOW  4 : 低（一般）'
        type: string
      vulnerabilityModel:
        description: '类别：具体属性请联系安全作战平台'
        type: array
        items:
          type: string
      subModel:
        description: '|子类别：仅当类别为隐私保护中心时必填|
                      |PLAINTEXT_STORAGE:个人数据明文存储|
                      |UNAUTHORIZED_CBT:未授权跨境转移|
                      |EXPIRED_DATA:数据超期未删除|
                      |INSPECTION_NOT_COMPLETE:巡检未完成|
                      |UNAUTHORIZED_APP:跨应用访问未授权|
                      |DI_NOT_ASSOCIATED:DI未关联|
                      |RETENTION_PERIOD_NOT_COVERED:留存期未覆盖|'
        type: string
      customVulnerabilityModel:
        description: '自定义类别，仅当类型为other时必填'
        type: string
      vulnerabilitySource:
        description: '来源：具体属性请联系安全作战平台'
        type: string
      cvss:
        description: 'cvss评分'
        type: string
      vector:
        description: '攻击矢量'
        type: string
      cve:
        description: '漏洞cve'
        type: string
      vulnerabilityRootCause:
        description: '漏洞技术原因'
        type: string
      vulnerabilityCreator:
        description: '漏洞创建人:W3工号（tWX******）'
        type: string
      vulnerabilityLastUpdatedBy:
        description: '漏洞最近更新人:W3工号（tWX******）'
        type: string
      discoverer:
        description: '漏洞发现人:W3工号（tWX******）'
        type: string
      discoveryDepartment:
        description: '漏洞发现部门'
        type: string
      reviewer:
        description: '漏洞评审人:W3工号（tWX******）'
        type: string
      reviewConclusion:
        description: '漏洞评审意见'
        type: string
      vulnerabilityCreateTime:
        description: '漏洞创建时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      vulnerabilityLastUpdatedTime:
        description: '漏洞最近更新时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      discoveryTime:
        description: '漏洞发现时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
      preWarningTime:
        description: '漏洞预警时间：UTC时间（2023-03-26T07:04:08.000Z）'
        type: string
        format: date-time
  TracingTaskListRsp:
    description: '跟踪任务列表响应'
    type: object
    x-imports:
      - 'com.huawei.it.secwar.common.model.CommonRsp'
      - 'com.huawei.it.secwar.common.model.PageVO'
    allOf:
      - $ref: '#/definitions/CommonRsp'
      - type: object
        properties:
          pageVo:
            description: '分页信息'
            type: object
            $ref: '#/definitions/PageVO'
          data:
            type: array
            description: '跟踪任务列表'
            items:
              $ref: '#/definitions/TracingTaskData'
  DevVulnerabilityListRsp:
    description: '跟踪任务列表响应'
    type: object
    x-imports:
      - 'com.huawei.it.secwar.common.model.CommonRsp'
      - 'com.huawei.it.secwar.common.model.PageVO'
    allOf:
      - $ref: '#/definitions/CommonRsp'
      - type: object
        properties:
          pageVo:
            description: '分页信息'
            type: object
            $ref: '#/definitions/PageVO'
          data:
            type: array
            description: '跟踪任务列表'
            items:
              $ref: 'rest-services-vulnerability-dev-sec-ops.yaml#/definitions/DevSecOpsVulnerabilityDto'
